<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-5 mx-auto"> <!-- Profile widget -->
  <div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 cover">
      <div class="media align-items-end profile-head">
        <div class="profile mr-3"><img
            src="{{this.currentProfile.profilePicture}}"
            alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>

        <div class="media-body mb-5 text-white">
          <h4 class="mt-0 mb-0">{{this.currentProfile.userName}}</h4>
          <br>
        </div>
      </div>
    </div>
    <div class="bg-light p-4 d-flex justify-content-end text-center">

    </div>
    <div class="px-4 py-3">
      <h5 class="mb-0">A propos</h5>
      <div class="p-4 rounded shadow-sm bg-light">
        <p class="font-italic mb-0">{{this.currentProfile.description}}</p>
      </div>
    </div>
  </div>
</div>
<br>
<ng-container *ngIf="this._sessionService.isLogged()">
<input type="button" class="btn btn-primary" value="Contacter" (click)="addRequest()">
</ng-container>
<br>
<p style="color: red;">{{errorMsg}}</p>
<p style="color: green;">{{coolMsg}}</p>

<div class="list-group">
  <ng-container *ngFor="let item of journeys">
    <br>
    <a class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item?.destination}}</h5>
      </div>
      <p class="mb-1">Durée : {{item?.nbrOfDays}} jours</p>
      <p *ngIf="item?.seasons == 0" class="mb-1">Période : Printems</p>
      <p *ngIf="item?.seasons == 1" class="mb-1">Période : Eté</p>
      <p *ngIf="item?.seasons == 2" class="mb-1">Période : Automne</p>
      <p *ngIf="item?.seasons == 3" class="mb-1">Période : Hiver</p>
      <br>
      <p class="mb-1">Activités : </p>
      <ng-container *ngFor="let a of item.journey_Activities">
        <li class="mb-1">{{a.activity.activityName}}</li>
      </ng-container>
    </a>
    <td *ngIf="_sessionService.isLogged()"><input type="button" class="btn-danger" value="Signaler" (click)="report(item.id)"></td>
  </ng-container>
</div>