<br>
<br>
<br>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="updateProfile()">
  <div class="form-group">
    <label for="userName">Pseudo</label>
    <input type="text" class="form-control" id="userName" placeholder="pseudo" formControlName="userName">
  </div>
  <div class="form-group">
    <label for="description">Biographie</label>
    <textarea class="form-control" id="description" rows="3" formControlName="description" placeholder="biographie"></textarea>
  </div>
  <label>
    <input type="submit" value="Confirmer" [disabled]="form.invalid">
</label>
</form>
